<% include ../partials/header %>

<div class="header-image">
  <div class="header-container">
    <h2 class="header-content">Company Blog</h2>
    <p class="header-content">Our news, stories, and anything else we feel like sharing.</p>
  </div>
</div>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item active" aria-current="page"><a href="/blog">Blog</a></li>
    </ol>
  </nav>
</div>

<% blog.forEach(function(blog){%>





  <div class="container blog-main">
    <div class="card">
      <img class="card-img-top" src="<%=blog.image%>" alt="Card image cap">
      <div class="card-body">
        <h2><a href="/blog/<%=blog._id%>"><%=blog.title%></a></h2>
        <h6><%=blog.date.toDateString()%></h6>
        <p class="card-text"><%-blog.body.substring(0, 150) %></p>
      </div>
    </div>
  </div>
<%})%>



<% include ../partials/footer %>
